@charset "utf-8";/* 个人中心页主样式*/
body{
	font-family: "宋体";
	font-size: 12px;
	line-height: 23px;
	color: #000;
	margin: 0px;
	padding: 0px;
}
ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,p,form,em,span{
	margin:0;
	padding:0;
	list-style:none
}
.novellist{
	width: 600px;
	background: #F6FAFD;
	float: left;
	position: relative;
}
.zuopin{
	width: 565px;
	border-bottom: 1px solid #DDE4F6;
	height: 170px;
	overflow: hidden;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 20px;
}
.zuopin .img{
	float: left;
	overflow: hidden;
	width: 106px;
	height: 136px;
	margin-right: 10px;
}
.zuopin .img a{
	width: 100px;
	height: 130px;
	background: #fff;
	display: block
}
.zuopin .img a:hover{
	background: #FFCC02;
	border: #FFCC02 3px solid;
}
.txt{
	float: left;
	width: 440px;
	height: 170px;
	line-height: 20px;
	margin-top: -10px;
}
.txt h1{
	height:26px;
	padding:2px;
	line-height:26px;
	overflow:hidden;
}
.txt h1 a{color:#c00;font-size:14px;margin-right:20px}
.txt h1 a:hover{color:#f00}
.txt ul{
	width: 440px;
	height: 100%;
	overflow: auto
}
.txt ul li{
	width: 440px;
	float: left;
	line-height: 20px;
	padding: 2px 0;
	color: #999
}
.txt ul li div{
	width: 180px;
	float: left;
}
.txt ul li a,.txt ul li div i{
	font-style:normal;
	color:#3164cd;
}
.txt ul li span,.txt ul li span a{
	color:#333;
}
.txt ul li.intro{
	height:68px;
	line-height:18px;
	padding:3px 0;
	position: relative;
	max-height:68px;
	overflow: hidden;
}
.txt ul li.intro::after{
	content: ".....";
	position: absolute;
	bottom: 0;
	right: 0;
	background: -webkit-linear-gradient(left, transparent, #F6FAFD 0%);
	background: -o-linear-gradient(right, transparent, #F6FAFD 0%);
	background: -moz-linear-gradient(right, transparent, #F6FAFD 0%);
	background: linear-gradient(to right, transparent, #F6FAFD 0%);
	padding-left: 4px;
}
.textmore{
	color: #5987E6;
	display: block-inline;
	height: 19px;
	line-height: 18px;
	padding-top: 2px;
	float: right;
	text-align: center;
	width: 48px;
}
